body {
    background-color: royalblue;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: royalblue;
    font-family: 'Times New Roman', Times, serif;
}

nav a {
    border-radius: 15px;
    background-color: red;
}

.topnav {
    background-color: red;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: aqua;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 20px;
}

.topnav:hover {
    background-color: red;
    color: indianred;
}